DATABASE_URL="your_database_url"
JWT_SECRET="yourpassword"
JWT_SECRET_ADMIN="youradminpassword"

# Seed configuration
SEED_PASSWORD="yourseedpassword"
SEED_ASSISTANT_EMAIL="yourassistantemail@yourdomain.com"
SEED_ASSISTANT_NAME="Jean Dupont"
SEED_CLIENT_EMAIL="yourclientemail@yourdomain.com"
SEED_CLIENT_NAME="Marie Martin"