<div class="background-container">
  <div class="main-content">
    <div *ngIf="isLoading" class="loading-text">Ouverture du registre...</div>
    <div *ngIf="!isLoading" class="welcome-banner">
      <div class="text-zone">
        <ng-container *ngIf="isLoggedIn">
          <h1>Bienvenue, {{ userName }}.</h1>
          <hr class="separator">
          <p class="message">
            Bienvenue dans Opale, votre outil de gestion d'aventuriers.
          </p>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
          <h1>Bienvenue,</h1>
          <hr class="separator">
          <p class="message">
            Vous devez vous connecter pour accéder à l'ensemble de nos outils.
          </p>
        </ng-container>
      </div>
      <div class="image-zone">
        <img src="assets/images/guilde-master-opale.webp" alt="Maître de Guilde">
      </div>
    </div>
  </div>
</div>
