<section class="form-login-section">
  <form class="form-login" (ngSubmit)="submitForm()" [formGroup]="formulaire"  #formDirective="ngForm">
    <input type="text" placeholder="email" name="email" id="input-email" required class="commun-input" formControlName="email" #emailInput />
    <input type="password" placeholder="Password" name="password" id="input-password" required class="commun-input" formControlName="password" #passwordInput />
    @if (errorMessage){
      <span class="error">{{errorMessage}}</span>
    }
    <button type="submit" class="commun-btn">Login</button>
  </form>
</section>
