@import '../../../styles.scss';

.form-login-section {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: fuchsia;
    border-radius: 5px;
    padding: 20px;

}

.error {
    color: red;
}