<section>
  <form class="form-login" (ngSubmit)="submitForm()" [formGroup]="formulaire"  #formDirective="ngForm">
    <input type="text" placeholder="email" name="email" id="input-email" required class="log-input" formControlName="email" #emailInput />
    <input type="password" placeholder="Password" name="password" id="input-password" required class="log-input" formControlName="password" #passwordInput />
    <span *ngIf="errorMessage" class="error">{{errorMessage}}</span>
    <button type="submit" class="btnLogin">Login</button>
  </form>
</section>