<section class="form-SignUp-section">
  <form class="form-SignUp " [formGroup]="formSignUp" (ngSubmit)="onSubmit()">
    <span>
    <label for="">Nom d'utilisateur</label>
    <input type="text" placeholder="Nom d'utilisateur" name="username" required class="commun-input"  formControlName="username" />
    </span>
    <span>
    <label for="">Email</label>
    <input type="text" placeholder="Email" name="mail" required class="commun-input"  formControlName="email" />
    </span>
    <span>
    <label for="">Mot de passe</label>
    <input type="password" placeholder="Mot de passe" name="password" required class="commun-input" formControlName="password" />
    </span> 
    <span> 
    <label for="">Confirmation Mot de passe</label>
    <input type="password" placeholder="Confirmation Mot de passe" name="verifPassword" required class="commun-input" formControlName="confirmPassword">
    </span>
    <select id="roles" formControlName="role">
      <option *ngFor="let role of roles" [value]="role">
        {{ role }}
      </option>
    </select>
    <p>
      {{ errorMessage }}
    </p>
    <button class="commun-btn" type="submit" >
      SignUp
    </button>
  </form>
</section>
