<section class="form-SignUp-section">
  <form class="form-SignUp" [formGroup]="formSignUp" (ngSubmit)="onSubmit()">
    <span>
      <label for="">Nom d'utilisateur</label>
      <input
        type="text"
        placeholder="JohnDoe"
        name="username"
        required
        class="commun-input"
        formControlName="username"
      />
    </span>
    <span>
      <label for="">Email</label>
      <input
        type="text"
        placeholder="john.doe@example.com"
        name="mail"
        required
        class="commun-input"
        formControlName="email"
      />
    </span>
    <span>
      <label for="">Mot de passe</label>
      <input
        type="password"
        name="password"
        required
        class="commun-input"
        formControlName="password"
      />
    </span>
    <span>
      <label for="">Confirmation Mot de passe</label>
      <input
        type="password"
        name="verifPassword"
        required
        class="commun-input"
        formControlName="confirmPassword"
      />
    </span>
    <span>
    <label for="roles">Rôle</label>
    <select id="roles" formControlName="role" class="selector">
      <option *ngFor="let role of roles" [value]="role">
        {{ role }}
      </option>
    </select>
    <p>
      {{ errorMessage }}
    </p>
  </span>
    <button class="commun-btn" type="submit">SignUp</button>
  </form>
</section>
