@import "../../../styles.scss";
.update-adventurer-section {
        display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    background-color: $color4 ;
}